<div class="coin_menu">
    <div class="coin_menu_box">
        <ul>
            <li id="user_index">
                <i class="coin_menu_op_14_1"></i><a href="{:U('User/index')}">安全中心</a>
            </li>
            <li id="user_nameauth">
                <i class="coin_menu_op_8_1"></i><a href="{:U('User/nameauth')}">实名认证</a>
            </li>
            <li id="user_password">
                <i class="coin_menu_op_9_1"></i><a href="{:U('User/password')}">修改登录密码</a>
            </li>
            <li id="user_paypassword">
                <i class="coin_menu_op_10_1"></i><a href="{:U('User/paypassword')}">修改交易密码</a>
            </li>
            <!--<li id="user_ga">
                <i class="coin_menu_op_11_1"></i><a href="{:U('User/ga')}">设置双重验证</a>
            </li>-->
            <li id="user_moble">
                <i class="coin_menu_op_12_1"></i><a href="{:U('User/moble')}">手机绑定</a>
            </li>
            <li id="user_alipay">
                <i class="coin_menu_op_6_1"></i><a href="{:U('User/alipay')}">支付宝绑定</a>
            </li>
            <li id="user_tpwdset">
                <i class="coin_menu_op_15_1"></i><a href="{:U('User/tpwdset')}">交易密码输入设置</a>
            </li>
            <li id="user_bank">
                <i class="coin_menu_op_3_1"></i><a href=" {:U('User/bank')}">银行卡管理</a>
            </li>
            <li id="user_qianbao">
                <i class="coin_menu_op_0_1"></i><a href=" {:U('User/qianbao')}">钱包地址管理</a>
            </li>
            <!--<li id="user_goods">
                <i class="coin_menu_op_13_1"></i><a href=" {:U('User/goods')}">联系地址管理</a>
            </li>-->
            <li id="user_log">
                <i class="coin_menu_op_7_1"></i><a href=" {:U('User/log')}">登录日志</a>
            </li>
        </ul>
    </div>
</div>