<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>实名认证</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link href="/wap/css/global.css?v=1.0" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/wap/css/style.css?v=1.2" />
	<link rel="stylesheet" type="text/css" href="/wap/css/swiper3.1.0.min.css?v=1.1" />
	<script type="text/javascript" src="/wap/js/1.7.2.min.js"></script>
	<script src="/wap/js/index.js?v=1.7"></script>
	<script type="text/javascript" src="/wap/js/wvke.js?v=1.1"></script>
	<script>
		function _size(){
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 10.80 + 'px';
		}
		_size();
		window.onresize = function(){
			_size();
		}
	</script>
</head>
<body>
	<div class="container">
		<div class="head head_white">
			<div class="left"><a href="/user/index/"><img src="/wap/images/login_icon_arrow2.png" class="icon_cha"></a></div>
			<div class="title">实名认证</div>
			<div class="right"></div>
		</div>
		<div class="main">
			<div class="margin_bian">
				<div class="real_succ center green">
					<img src="/wap/images/icon_succ.png">
					<p>实名认证成功！</p>
					<span>{$user['addtime']|date='Y-m-d',###}</span>
				</div>
				<div class="real_list">
					<div class="real_box">
						证件类型：<span>身份证</span>
					</div>
					<div class="real_box">
						认证姓名：<span>{$user.truename}</span>
					</div>
					<div class="real_box">
						证件号码：<span>{$user.idcard}</span>
					</div>
				</div>
				<div class="form_link real_point red clear">
					<img src="/wap/images/login_icon_tan.png" class="icon_tan left">
					<p class="left">如需更改实名认证信息，请联系客服</p>
				</div>

			</div>
		</div>
	</div>
</body>
</html>