
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>交易密码修改</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link href="/wap/css/global.css?v=1.0" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/wap/css/style.css?v=1.2" />
<link rel="stylesheet" type="text/css" href="/wap/css/swiper3.1.0.min.css?v=1.1" />
<script type="text/javascript" src="/wap/js/1.7.2.min.js"></script>
<script src="/wap/js/index.js?v=1.7"></script>
<script type="text/javascript" src="/wap/js/wvke.js?v=1.1"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/cityselect.js"></script>
<script type="text/javascript">
		user = {
			uid: 0,rmb_over: 0,rmb_lock: 0,btc_over: 0, btc_lock: 0,eth_over: 0, eth_lock: 0,ltc_over: 0, ltc_lock: 0,doge_over: 0, doge_lock: 0,ybc_over: 0, ybc_lock: 0,email: '',name: ''
		};
		CoinRate = {"btc":7710,"ltc":"26.20","doge":"0.00141","ybc":"8.55","eth":"92.63"};		btvs(10,108158680);
		timestamp = 1488158680;
		moneyconfig = {coin:"rmb", sign:"￥"};
	</script>
<script>
		function _size(){
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 10.80 + 'px';
		}
		_size();
		window.onresize = function(){
			_size();
		}
	</script>
</head>
<body>
<div class="container">
<div class="head head_white">
<div class="left">
<a href="/user/index"><img src="/wap/images/login_icon_arrow2.png" class="icon_cha"></a>
</div>
<div class="title" style="color:#000;">交易密码修改</div>
<div class="right"></div>
</div>
<div class="main pb_0">
<div class="margin_lbian">
<form id="form-pwtrade">
<div class="form_box po_re findpw_tan">
<i class="form_icon  w_220">输 入 交 易 密 码</i>
<div>
<input type="password" id="oldpaypassword" name="name" class="input hui_a" value="" placeholder="请输入交易密码" />
</div>
</div>
<div class="form_box po_re findpw_tan">
<i class="form_icon  w_220">新&nbsp;&nbsp;交&nbsp;&nbsp;易&nbsp;&nbsp;密&nbsp;&nbsp;码</i>
<div>
<input type="password" id="newpaypassword" name="name" class="input hui_a" value="" placeholder="请输入新交易密码" />
</div>
</div>
<div class="form_box po_re findpw_tan">
<i class="form_icon  w_220">再次输入新密码</i>
<div>
<input type="password" id="repaypassword" class="input" placeholder="请再次输入新交易密码">
</div>
</div>
<div class="form_btn">
<input type="button" class="btn" onClick="Update()" name="addbank" id="btn" value="确认修改">
</div>
</form>
</div>
</div>
</div>
<script>
function Update(){
	$.post("{:U('User/uppaypassword')}",{oldpaypassword : $('#oldpaypassword').val(),newpaypassword : $('#newpaypassword').val(),repaypassword : $('#repaypassword').val() },function(data){
		if(data.status==1){
			alert(data.info);
			window.location="{:U('User/index')}";
		}else{
			alert(data.info);
			if(data.url){
				window.location=data.url;
			}
		}
	},"json");
}
</script>
</body>
</html>