<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>成交记录</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link href="/wap/css/global.css?v=1.0" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/wap/css/style.css?v=1.2" />
	<link rel="stylesheet" type="text/css" href="/wap/css/swiper3.1.0.min.css?v=1.1" />
	<link rel="stylesheet" type="text/css" href="/wap/css/dropload.css" />
	<script src="/wap/js/index.js?v=1.7"></script>
	<script type="text/javascript" src="/wap/js/wvke.js?v=1.1"></script>
	<script>
		function _size(){
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 10.80 + 'px';
		}
		_size();
		window.onresize = function(){
			_size();
		}
	</script>
</head>
<body>
<div class="container outer" ontouchstart="">
	<!--头部-->
	<div class="head head_white">
		<div class="left"><a onClick="window.history.go(-1)"><img src="/wap/images/login_icon_arrow2.png" class="icon_cha"></a></div>
		<div class="title">
			成交记录
			<input type="hidden" id="market" value="{$market}" />
			<input type="hidden" id="type" value="{$type}" />
			<!--
			<select name="type-selectTest" id="type-selectTest">
				<option value="0"<eq name="type" value="0">selected</eq>>-全部-</option>
				<option value="1"<eq name="type" value="1">selected</eq>>买入</option>
				<option value="2"<eq name="type" value="2">selected</eq>>卖出</option>
			</select>
			-->
		</div>
		<div class="right"></div>
	</div>
	<div class="main pb_0 inner" style="height:100%;" >
		<div class="mytrab_con pb_0">
			<div class="list_tab mytrab_con_list">
				<ul class="list_tab_con list_mytrad_con clear lm_tab_1">
					<volist name="market_list" id="vo" key="ke">
						<li id="{$ke}" <eq name="market" value="$vo['name']"> class='hover list_1'</eq>>
							<a href="/Finance/mycj/type/0/market/{$vo['name']}/">
								{$coin_list[$vo['xnb']]['title']}({$vo['xnb']|strtoupper}/{$vo['rmb']|strtoupper})
							</a>
						</li>
					</volist>
				</ul>
			</div>
		</div><input type="hidden" value="2" id="pageys" />
		<div class="lm_tab_list_1">
			
			<div class="mytrad_con list_1 pb_0 lists">
			<volist name="list" id="vo">
				<div class="wallet_box">
					<div class="margin_lbian">
						<div class="wallet_box1 withdraw_box1 po_re">
							<div class="withdraw_box1_l left">
								<p class="hui_d">总额：￥{$vo['mum']|NumToStr}</p>
								<p class="hui_d">{$vo.addtime|date='m-d H:i:s',###}</p>
							</div>
							<span class="right orange"><font class="hui_d" style="font-size:12px;">价格：</font>￥{$vo['price']|NumToStr}</span>
						</div>
						<div class="wallet_box2 withdraw_box2">
							<ul>
								<li><span class="hui_d fz_3-6">类型：</span>
									<eq name="vo['userid']" value="$vo['peerid']">
										<font class="buy">自买</font><font class="sell">自卖</font>
									<else />
										<if condition="($vo['userid'] eq $userid) AND ($vo['type'] eq 1)"><font class="buy">买入</font></if>
										<if condition="($vo['userid'] eq $userid) AND ($vo['type'] eq 2)"><font class="buy">买入</font></if>
										<if condition="($vo['peerid'] eq $userid) AND ($vo['type'] eq 1)"><font class="sell">卖出</font></if>
										<if condition="($vo['peerid'] eq $userid) AND ($vo['type'] eq 2)"><font class="sell">卖出</font></if>
									</eq>
								</li>
								<li><span class="hui_d fz_3-6">数量：</span>{$vo['num']|NumToStr}</li>
								<li><span class="hui_d fz_3-6">手续费：</span>￥<if condition="($vo['userid'] eq $userid)"> {$vo['fee_buy']} <else /> {$vo['fee_sell']} </if></li>
								
							</ul>
						</div>
					</div>
				</div>
          </volist>
		  </div>
		</div>
	</div>
</div>

<script src="/wap/js/dropload/zepto.min.js"></script>
<script src="/wap/js/dropload/dropload.min.js"></script>
<script>
var pageys=document.getElementById("pageys").value;
var type=document.getElementById("type").value;
var market=document.getElementById("market").value;
$(function(){
    var dropload = $('.inner').dropload({
        domDown : {
            domClass   : 'dropload-down',
            domRefresh : '<div class="dropload-refresh" id="zwsj">↑上拉加载更多</div>',
            domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
            domNoData  : '<div class="dropload-noData">暂无数据</div>'
        },
        loadDownFn : function(me){
            $.ajax({
                type: 'GET',
                url: "{:U('getLazycj')}",
				data:{"type":type,"market":market,"page":document.getElementById("pageys").value},
                dataType: 'json',
                success: function(data){
					var result = '';
					if(data['page']==0){
						me.noData();
					}else{
						result +=data['content'];
					}
					document.getElementById("pageys").value=data['page'];
					 setTimeout(function(){
                        $('.lists').append(result);
                        // 每次数据加载完，必须重置
                        dropload.resetload();
                    },1000);
                },
                error: function(xhr, type){
                    //alert('信息异常，请刷新后重试!');
                    // 即使加载出错，也得重置
                    dropload.resetload();
                }
            });
        }
    });
});
</script>
<script>
	var market=$("#market").val();
	$("#type-selectTest,#market-selectTest").change(function(){
		var type=$("#type-selectTest option:selected").val();
		
		window.location='/Finance/mycj/type/'+type+'/market/'+market+'.html';
	});
	$(function () {
		xuetong.show_tab(1);
		setTimeout(function(){
			$('body,html').animate({scrollTop: 0}, 0);
		},1)
	});
</script>
</body>
</html>