<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>充值记录-{$C['web_name']}</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link href="/wap/css/global.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/wap/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/wap/css/swiper3.1.0.min.css" />
	<script type="text/javascript" src="/wap/js/1.7.2.min.js"></script>
	<script src="/wap/js/index.js"></script>
	<script type="text/javascript" src="/wap/js/wvke.js"></script>
	
				<script type="text/javascript">
			function() {
					_fmOpt.imgLoaded = true;
				};
				var fm = document.createElement('script'); fm.type = 'text/javascript'; fm.async = true;
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fm, s);
			})();
		</script>
		<script>
		document.addEventListener('DOMContentLoaded', function() {
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 10.80 + 'px';
		});
	</script>
</head><body>
<div class="container" ontouchstart=""  id="container">
	<!--头部-->
	<div class="head head_white">
		<div class="left">
							<a href="/finance/mycz.html" ><img src="/wap/images/login_icon_arrow2.png" class="icon_cha"></a>
					</div>
		<div class="title">人民币充值记录</div>
		<div class="right">
		</div>
	</div>
		<div class="main pb_0">
		<div class="mytrad_con">	
		<volist name="list" id="vo">
			<div class="wallet_box">
				<div class="margin_lbian">
					<div class="wallet_box1 withdraw_box1 po_re">
						<div class="withdraw_box1_l left">
							<p class="hui_d">充值订单ID:{$vo.tradeno}</p>
							<p class="hui_d">{$vo.addtime|date='Y-m-d H:i:s',###}</p>
						</div>
						<span class="right orange">
							<eq name="vo.status" value="0">
								未付款
								<a href="{:U('Pay/mycz')}?id={$vo['id']}"  ><img src="/wap/images/icon_wen.png" class="icon_wen"></a>
							</eq>
							<eq name="vo.status" value="1">充值成功</eq>
							<eq name="vo.status" value="2">人工到账</eq>
							<eq name="vo.status" value="3">处理中</eq>
						</span>
					</div>
					<div class="wallet_box2 withdraw_box2">
						<ul>
							<li><span class="hui_d fz_3-6">方式：</span>{$vo.type}</li>
							<li><span class="hui_d fz_3-6">金额：</span>￥{$vo['num']|default="0.00"}</li>
							<li><span class="hui_d fz_3-6">到账：</span>￥{$vo['mum']|default="0.00"}</li>
						</ul>
					</div>
				</div>
			</div>
		</volist>
		
</div>
		</div>
</div>


<script>
$(function(){ 
  var winH = $(window).height(); //页面可视区域高度 
  var i = 1; //设置当前页数 
  $(window).scroll(function () { 
    var pageH = $(document.body).height(); 
    var scrollT = $(window).scrollTop(); //滚动条top 
    var aa = (pageH-winH-scrollT)/winH; 
    if(aa<0.02){ 
      $.getJSON("result.php",{page:i},function(json){ 
        if(json){ 
          var str = ""; 
          $.each(json,function(index,array){ 
            var str = "<div class=\"single_item\"><div class=\"element_head\">"; 
            var str += "<div class=\"date\">"+array['date']+"</div>"; 
            var str += "<div class=\"author\">"+array['author']+"</div>"; 
            var str += "</div><div class=\"content\">"+array['content']+"</div></div>"; 
            $("#container").append(str); 
          }); 
          i++; 
        }else{ 
          $(".nodata").show().html("别滚动了，已经到底了。。。"); 
          return false; 
        } 
      }); 
    } 
  }); 
}); 
</script>

</body>
</html>