<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{$dq_title}转入记录</title>
	<meta name="keywords" content="{$dq_title}交易,{$dq_title}行情" />
	<meta name="description" content="{$dq_title}交易,{$dq_title}行情" />	
	<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link href="/wap/css/global.css?v=1.0" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/wap/css/style.css?v=1.3" />
	<link rel="stylesheet" type="text/css" href="/wap/css/swiper3.1.0.min.css?v=1.1" />
	<script type="text/javascript" src="/wap/js/1.7.2.min.js"></script>
	<script src="/wap/js/index.js?v=1.7"></script>
	<script type="text/javascript" src="/wap/js/wvke.js?v=1.1"></script>
	<script type="text/javascript">
		user = {
			uid: 0,rmb_over: 0,rmb_lock: 0,btc_over: 0, btc_lock: 0,eth_over: 0, eth_lock: 0,ltc_over: 0, ltc_lock: 0,doge_over: 0, doge_lock: 0,ybc_over: 0, ybc_lock: 0,email: '',name: ''
		};
		CoinRate = {"btc":7710,"ltc":"26.20","doge":"0.00141","ybc":"8.55","eth":"92.63"};		btvs(10,108158680);
		timestamp = 1488158680;
		moneyconfig = {coin:"rmb", sign:"￥"};
	</script>
	<script>
		function _size(){
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 10.80 + 'px';
		}
		_size();
		window.onresize = function(){
			_size();
		}
	</script>
</head>
<body>
<div class="container">
	<div class="head head_white">
		<div class="left"><a href="/finance/myzr/"><img src="/wap/images/login_icon_arrow2.png" class="icon_cha"></a></div>
		<div class="title">{$xnb_title}({$xnb})<i class="jian_xia"></i>
			<div class="trade_con_all po_ab">
				<volist name="coin_list" id="vo" key="key"> 
					<a href="/Finance/myzrdetails/coin/{$vo['name']}">{$vo.title} ({$vo['name']|strtoupper})</a>
				</volist>
			</div>
		</div>
		<div class="right"></div>
	</div>
	<div class="main pb_0">
		<div class="mytrad_con">
		<notempty name="list">
			<volist name="list" id="vo">
			<div class="wallet_box">
				<div class="margin_lbian">
					<div class="wallet_box1 withdraw_box1 po_re">
						<div class="withdraw_box1_l left">
							<p class="hui_d">转出地址:{$vo.username}</p>
							<p class="hui_d">{$vo.addtime|addtime}</p>
							<div class="right orange" style="margin-top:-20px;">
								<eq name="vo.status" value="1">转入成功<else/>等待处理，需{$vo.status|abs}个确认</eq>
							</div>
						</div>
					</div>
					<div class="wallet_box2 withdraw_box2" style="clear:both;">
						<ul>
							<li><span class="hui_d fz_3-6">数量：</span>￥{$vo['num']|NumToStr}</li>
							<li><span class="hui_d fz_3-6">赠送：</span>￥{$vo['fee']|NumToStr}</li>
							<li><span class="hui_d fz_3-6">应到账：</span>￥{$vo['mum']|NumToStr}</li>
						</ul>
					</div>
				</div>
			</div>
			</volist>
			<div class="pages">{$page}</div>
			<else/>
			<div class="center record_no">暂无记录</div>
			</notempty>
		</div>
	</div>
</div>
<script type="text/javascript">
	coin = {name: 'btc', sign: '', id: 1};
	BSConfig.limit = $.cookie('bslimit');
	if(!BSConfig.limit) BSConfig.limit = 5;
	if(BSConfig.limit==20) $('#bssetlink').html(lang('点击收起')).attr('class', 'up');
	BSConfig.sort = 1;
	btcsum();
	btcorder(30);
	opentrades();
	getbalance()
	$('#pricein,#priceout').before('<div class="price-warr">价格与市场价偏差过大，请慎重填写！</div>');

	function getbalance(){
		$.post('/user_index/balance',function(d){
			$('#loan_coin').html(d['btc_loan']);
			$('#loan_rmb').html('¥'+d['rmb_loan']);
		},'json');
	}
	xuetong.title_tab();
</script>
</body>
</html>
